body { 
    width: 100vw;
    height: 100vh;
    margin: 0;
    background:rgb(30, 71, 134)
    }
  header, footer, article, nav, div {
    padding: 1vh 1vw 1vh 1vw;
    margin: 0.325vh 0.15vw 0.325vh 0.15vw;
    background: rgb(69, 126, 210);
    border-radius: 5px;
    float: left;
  }
  #jotaro {
    max-width: 13vw;
    max-height: 6vw;
    margin-top: 5vh;
    margin-left: 1.5vw;
  }
  #myHeader {
    height: 10vh;
    width: 97.7vw;
  }
  #myNav { 
    width: 15vw;
    height: 84.5vh; 
  }
  #myArticle {
    width: 64vw;
    height: 69vh;
  }
  #myPanel1 {
    height: 33.2vh;
    width: 14.1vw;
  }
  #myPanel2 { 
    height: 33.2vh;
    width: 14.1vw;
  }
  #myFooter {
    height: 12.75vh;
    width: 80.4vw;
  }
